.Project {
    height: auto;
    width: 300px;
    display: none;
    background: rgb(25,25,112);
    background: linear-gradient(135deg, rgba(25,25,112,1) 25%, rgba(65,65,223,1) 100%);
    margin: 5px;
    text-decoration: none;
    color: white;
    border: rgba(255, 255, 255, 0.651);
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
}

.SkillsRowContainer {
    margin: auto;
    height: auto;
    width: 80%;
    background: rgb(25,25,112);
    background: linear-gradient(135deg, rgba(25,25,112,1) 0%, rgba(45,45,200,1) 100%);
}

#SkillsTypeRowTemplate {
    display: none;
}
