<!DOCTYPE html>
<html lang="en">
<link rel="icon" type="image/x-icon" th:href="${metadata.iconLink}" href="https://avatars.githubusercontent.com/u/113565962?v=4">
<head th:replace="~{template.html :: head}"></head>
<head>
    <title th:text="${blog.title}+' - '+${metadata.name}"></title>
    <meta name="twitter:title" th:content="${blog.title}+' - '+${metadata.name}"/>
    <meta name="description" th:content="${blog.description}">
    <meta name="twitter:description" th:content="${blog.description}"/>
    <link href="/css/blog.css" rel="stylesheet" type="text/css"/>
</head>

<body class="bg-black text-white">
    
    <!-- Header -->
    <header th:replace="~{template.html :: header}"></header>

    <!-- Body Container -->
    <div class="bg-dark bg-gradient" id="BodyContainer">

        <div class="container-xxl ThemeToSecondaryGradient" id="BlogContainer">
            <div class="text-center">
                <!-- Title -->
                <u class="display-4 fw-bold HeaderTextColor mx-auto pt-4" th:text="${blog.title}" id="BlogTitle"></u>
                <div class="d-flex justify-content-around mt-3">
                    <td>
                        <a th:if="${prev == null}" type="button" class="btn btn-primary invisible">
                            Previous Blog
                        </a>
                        <a th:if="${prev != null}" type="button" class="btn btn-primary" th:title="${prev.title}" th:href="'/blogs/'+${prev.id}+${queryString}">
                            Previous Blog
                        </a>
                    </td>
                    <td>
                        <a th:if="${next == null}" type="button" class="btn btn-primary invisible">
                            Next Blog
                        </a>
                        <a th:if="${next != null}" type="button" class="btn btn-primary" th:title="${next.title}" th:href="'/blogs/'+${next.id}+${queryString}">
                            Next Blog
                        </a>
                    </td>
                </div>
                <hr>
                <!-- Stats -->
                <div id="BlogDateStatsContainer" class="d-flex justify-content-around">
                    <span th:text="${blog.date}" class="mx-3 my-auto fs-5 fw-semibold"></span>
                    <span class="mx-3" id="BlogStatsContainer"></span>
                </div>
            </div>
            <hr>
            <!-- Body -->
            <div class="Rounded p-4 mx-auto border border-white" th:utext="${bodyHTML}" id="BlogBodyContainer">

            </div>
            
            <br>
            <div class="d-flex justify-content-center fs-5 semi-bold">
                <a type="button" class="btn btn-primary mx-1 py-2 px-3" title="Share to X" target="_blank" id="ShareXButton">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-twitter-x" viewBox="0 0 16 16">
                        <path d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z"/>
                    </svg>
                    Post
                </a>
                <a type="button" class="btn btn-primary mx-1 py-2 px-3" title="Share to LinkedIn" target="_blank" id="ShareLinkedInButton">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                        <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
                    </svg>
                    Share
                </a>
            </div>
            <br>
        </div>
        
    </div>

    <!-- Footer -->
    <footer th:replace="~{template.html :: footer}"></footer>

    <!-- Scripts -->
    <th:block th:replace="~{template.html :: scripts}"></th:block>
    <script src="/javascript/BlogStats.js"  type="module"></script>
    <script type="module" th:inline="javascript">
        import { BlogStats } from "/javascript/BlogStats.js";
        import { apiCall } from "/javascript/apiCall.js";
        const id = /*[[${blog.id}]]*/ 0;
        const viewCount = /*[[${blog.viewCount}]]*/ 0;
        const likeCount = /*[[${blog.likeCount}]]*/ 0;
        const isInitallyLiked = /*[[${blog.isLikedByUser}]]*/ false;

        addEventListener('DOMContentLoaded', async(e) => {
            const blogStats = new BlogStats(id, viewCount, likeCount, isInitallyLiked, document.getElementById("BlogStatsContainer"));
            document.getElementById("ShareXButton").href = `https://x.com/intent/tweet?url=${window.location.origin}${window.location.pathname}`;
            document.getElementById("ShareLinkedInButton").href = `https://www.linkedin.com/shareArticle?mini=true&url=${window.location.origin}${window.location.pathname}`;
        });
    </script>
    <script>
        document.getElementById("nav-link-blog").classList.add("active");
    </script>
</body>
</html>