<nav class="navbar bg-black text-white">
  <div class="container-fluid justify-content-between">
    <a class="navbar-brand opaque_when_hovered" href="/#">
        <img src="https://avatars.githubusercontent.com/u/113565962?v=4" alt="Logo" id="Logo" class="d-inline-block align-text-top">
        <span class="text-white">Jason Yau</span>
    </a>
    <!-- Center Align Container -->
    <div id="CenterHeaderContainer" class="p-2">
        <a href="/#Projects" class="btn btn-outline-light">
          Projects
        </a>
        <a href="/#Skills" class="btn btn-outline-light">
            Skills
          </a>
        <a href="/#Contact" class="btn btn-outline-light">
          Contact
        </a>
    </div>
    <!-- Right Align Container -->
    <div class="p-2">
        <a href="links" class="btn btn-outline-light">
        Links
        </a>
    </div>
  </div>
</nav>
