<nav class="navbar navbar-expand-sm navbar-dark bg-black">
    <div class="container-fluid">
      <a class="navbar-brand opaque_when_hovered mx-3" href="/#">
        <img src="https://avatars.githubusercontent.com/u/113565962?v=4" alt="Logo" id="Logo" class="d-inline-block align-text-top">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="h4 my-auto mx-3 nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Home
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/#AboutMe">About Me</a></li>
              <li><a class="dropdown-item" href="/#Projects">Projects</a></li>
              <li><a class="dropdown-item" href="/#Skills">Skills</a></li>
              <li><a class="dropdown-item" href="/#Contact">Contact Me</a></li>
            </ul>
          </li>
          <li class="h4 my-auto mx-3 nav-item">
            <a class="nav-link" href="/blogs">Blog</a>
          </li>
          <li class="h4 my-auto mx-3 nav-item">
            <a class="nav-link" href="/links">Links</a>
          </li>
        </ul>
      </div>
    </div>
</nav>