<!DOCTYPE html>
<link rel="icon" type="image/x-icon" href="https://avatars.githubusercontent.com/u/113565962?v=4">
<head th:replace="~{template.html :: head}"></head>
<head>
    <title>Jason Yau</title>
    <link href="/css/index.css" rel="stylesheet" type="text/css"/>
</head>

<body class="bg-black text-white">
    
    <!-- Header -->
    <header th:replace="~{template.html :: header}"></header>

    <!-- Body Container -->
    <div class="bg-dark bg-gradient" id="BodyContainer" style="margin-top: 0px!important;">
        <div class="vh-100 d-flex flex-column justify-content-center align-items-center px-3 ThemeToSecondaryGradient">
            <div class="fs-3 HeaderTextColor move_when_hovered">Hi, my name is</div>
            <div class="display-1 HeaderTextColor fw-bold move_when_hovered">Jason Yau.</div>
            <div class="fs-3 my-2 HeaderTextColor move_when_hovered">I'm a student studying Computer Science at the University of Central Florida. </div>
            <div>
                <a href="#AboutMe" class="my-3 btn btn-dark btn-lg border border-white mx-1" style="width: 150px!important;" title="About Me">About Me</a>
                <a href="/resume" target="_blank" class="my-3 btn btn-dark btn-lg border border-white mx-1" style="width: 150px!important;" title="Resume">Resume</a>
            </div>
        </div>
        <div> 
            <br id="AboutMe"><br><br>
            <u class="fs-1 d-flex justify-content-center HeaderTextColor fw-bold">About Me</u>
            <div class="container-xxl Rounded p-5 fs-4 fw-semibold text-left my-3 border border-white" id="AboutMeContainer" th:text="${aboutMe}">

            </div>

            <br id="Projects"><br><br>
            <u class="fs-1 d-flex justify-content-center HeaderTextColor fw-bold">Projects</u>
            <div class="container-xxl ThemeToSecondaryGradient Rounded text-center my-3 py-3" id="ProjectsContainer">
                <div class="spinner-border" id="projectSpinner" role="status"></div>
                <div class="row row-cols-auto justify-content-center" id="ProjectRows">
                    
                </div>
            </div>

            <br id="Skills"><br><br>
            <u class="fs-1 d-flex justify-content-center HeaderTextColor fw-bold">Skills</u>
            <div class="container-xxl ThemeToSecondaryGradient Rounded text-center my-3 py-3" id="SkillsContainer">
                <div class="spinner-border" id="skillSpinner" role="status"></div>
                <div id="SkillsTypeRow">
                    <div id="SkillsTypeRowTemplate">
                        <u class="fs-3 HeaderTextColor fw-bold" id="SkillType">Type</u>
                        <div class="Rounded my-3 py-2 SkillsRowContainer" id="SkillsRowContainer">

                        </div>
                    </div>
                </div>
            </div>

            <br id="Contact"><br><br>
            <u class="fs-1 d-flex justify-content-center HeaderTextColor fw-bold">Contact Me</u>
            <div class="container-xxl ThemeToSecondaryGradient Rounded d-flex align-items-center my-3 flex-column">
                <div class="form-floating mb-3 w-75 mt-3">
                    <input class="form-control SecondaryColor text-white" id="NameInput" placeholder="John Doe">
                    <label for="NameInput">Name</label>
                </div>
                <div class="form-floating mb-3 w-75">
                    <input class="form-control SecondaryColor text-white" id="ContactInfoInput" placeholder="johndoe@example.com">
                    <label for="ContactInfoInput">Contact Information</label>
                </div>
                <div class="form-floating mb-3 w-75">
                    <textarea class="form-control SecondaryColor text-white" id="MessageInput" placeholder="Message"></textarea>
                    <label for="MessageInput">Message</label>
                </div>
                <div id="SubmitContainer" class="d-flex align-items-center flex-column">
                    <div class="SuccessMessage" id="ContactFormSuccess">Success</div>
                    <div class="ErrorMessage" id="ContactFormError">Error</div>
                    <button class="btn btn-primary border-0" onclick="contactFormSubmit()" type="submit" title="Send Message">Send</button>
                    <div>
                        Note: This sends an email notification to me.
                    </div>
                    <div class="mb-3">
                        You may opt to contact me via
                        <a href="links" title="Socials">Email / Linkedin.</a>
                    </div>
                </div>
            </div>
            <br>
            <br>
        </div>        
    </div>

    <!-- Footer -->
    <footer th:replace="~{template.html :: footer}"></footer>

    <!-- Scripts -->
    <th:block th:replace="~{template.html :: scripts}"></th:block>
    <script src="/javascript/ContactForm.js"  type="module"></script>
    <script src="/javascript/projects.js"  type="module"></script>
    <script src="/javascript/skills.js"  type="module"></script>
</body>
</html>