<!DOCTYPE html>
<html lang="en">
<link rel="icon" type="image/x-icon" th:href="${metadata.iconLink}">
<head th:replace="~{template.html :: head}"></head>
<head>
    <title th:text="'Links - '+${metadata.name}"></title>
    <meta name="twitter:title" th:content="'Links - '+${metadata.name}"/>
    <meta name="description" th:content="'External links for '+${metadata.name}">
    <meta name="twitter:description" th:content="'External links for '+${metadata.name}"/>
</head>

<body class="bg-black text-white">
    
    <!-- Header -->
    <header th:replace="~{template.html :: header}"></header>

    <!-- Body Container -->
    <div class="bg-gradient bg-dark" id="BodyContainer">
        <div class="d-flex flex-column align-items-center my-2" th:each="link: ${links}">
            <a th:href="${link.href}" target="_blank" class="p-2 LinkButton opaque_when_hovered" th:title="${link.name}">
                <img th:if="${link.simpleIconsIconSlug != null && !link.simpleIconsIconSlug.isBlank()}" width="16px" height="16px" th:src="'/links/svg/'+${link.id}" class="mx-2" th:alt="${link.name}+' Icon'" onerror="this.style.display = 'none'"/>
                <span th:text="${link.name}"></span>
            </a>
        </div>
    </div>

    <!-- Footer -->
    <footer th:replace="~{template.html :: footer}"></footer>

    <!-- Scripts -->
    <th:block th:replace="~{template.html :: scripts}"></th:block>
    <script>
        document.getElementById("nav-link-links").classList.add("active");
    </script>
</body>
</html>