<!DOCTYPE html>
<head th:fragment="head">
    <html lang="en"></html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Full stack personal portfolio site by Jason Yau, student at the University of Central Florida">
    <meta name="keywords" content="Jason Yau, jasonpyau, University of Central Florida, UCF, Orlando, Florida, software engineer, computer science, resume, Spring Boot, portfolio, blog">
    <meta name="author" content="Jason Yau">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/global.css" rel="stylesheet" type="text/css"/>
</head>

<body class="bg-black text-white">
    
    <!-- Header -->
    <header th:fragment="header" th:insert="~{header.html}" class="fixed-top" id="Header"></header>

    <!-- Body Container -->
    <div class="bg-dark bg-gradient" id="BodyContainer">

    </div>

    <!-- Footer -->
    <footer th:fragment="footer" th:insert="~{footer.html}" id="Footer" class="text-end bg-black p-2"></footer>

    <!-- Scripts -->
    <th:block th:fragment="scripts">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
        <script src="/javascript/apiCall.js" type="module"></script>
    </th:block>

</body>
</html>