name: Build and Deploy Spring Boot Application on Git push

on:
  push:
    branches:
      - main
  workflow_dispatch:
          
jobs:
  build:
  
    runs-on: self-hosted
    
    steps:
      - name: File Permissions
        run: |
            sudo chown -R jasonpyau:jasonpyau .
      - name: Checkout
        uses: actions/checkout@v2
      - name: Create Constants.java on Admin Panel
        env:
          CONSTANTS: ${{ secrets.ADMIN_PANEL_CONSTANTS_JAVA }}
        run: |
            echo "$CONSTANTS" > admin/Constants.java
      - name: Create application.properties on Spring Boot
        env:
          PROPERTIES: ${{ secrets.APPLICATION_PROPERTIES }}
        run: |
            echo "$PROPERTIES" > backend/src/main/resources/application.properties
      - name: Run Unit Tests
        run: |
            cd backend
            sudo mvn test
      - name: Shut Down Old Version
        env:
          APP_PASSWORD: ${{ secrets.APP_PASSWORD }}
        run: |
            curl -s -X 'DELETE' \
            'https://jasonpyau.com/shut_down' \
            -H 'Authorization: $APP_PASSWORD' \
            > /dev/null
            sleep 6
      - name: Run Spring Boot
        run: |
            cd backend
            sudo nohup mvn spring-boot:run > spring-log.txt 2>&1 &
